version: '3.8'

services:
  # ===============================
  # Kafka UI
  # ===============================
  kafka-ui:
    image: provectuslabs/kafka-ui:latest
    container_name: kafka-ui
    hostname: kafka-ui
    networks:
      - hadoop
    ports:
      - "8081:8080"
    environment:
      - KAFKA_CLUSTERS_0_NAME=hadoop-kafka-cluster
      - KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS=hadoop-master:9092
      - KAFKA_CLUSTERS_0_ZOOKEEPER=hadoop-master:2181

networks:
  hadoop:
    external: true